
.custom-setting-container {
  padding-left: 4px;
  margin-bottom: 0.5rem;
  display: flex;
  float:right;
  justify-content: center;
  align-items: flex-start;
  button.ant-btn {
    padding: 0 !important;
    border: none !important;
  }
  .ant-btn::after {
    display: none;
  }
  .ant-btn:hover {
    border: none;
  }
}
//.pad-0 {
//  padding: 0 !important;
//}
//.ant-popover-inner {
//  padding: 12px;
//  .ant-popover-inner-content {
//    padding: 12px;
//  }
//}
//
.modal-tm-select-container {
  width: 210px;
}

.modal-select-container {
  height: 160px;
  overflow-x: hidden;
  overflow-y: auto;
  .modal-select-title {
    .anticon svg {
      color: @primary-color;
    }
  }
  .modal-select-content {
    .ant-checkbox.ant-checkbox-checked {
      .ant-checkbox-inner {
        background: @primary-color;
        border-color: @primary-color;
      }
    }
  }
}
//
//.ant-checkbox.ant-checkbox-checked {
//  .ant-checkbox-inner {
//    background: @primary-color;
//    border-color: @primary-color;
//  }
//}

.modal-simple-select-container {
  height: 120px;
}
//.anticon svg {
//  color: @primary-color;
//}
//
.cross-content {
  cursor: pointer;
  font-weight: bolder;
  position: absolute;
  top: 14px;
  right: 12px;
}
.modal-tm-select-container {
  .ant-select-selector {
    border-radius: 16px !important;
  }
}


/*--------------------------------------------------------------
# Custom Scrollbar
--------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #DADADA;
  border-radius: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: @primary-color;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: @primary-color;
}
