/* For demo */
//.ant-carousel .slick-slide {
//  text-align: center;
//  height: 160px;
//  line-height: 160px;
//  background: #364d79;
//  overflow: hidden;
//}
//
//.ant-carousel .slick-slide h3 {
//  color: #fff;
//}

/* Custom Coloring */

.ant-carousel .slick-dots li button {
  background: #7f67ff;
  opacity: 0.4;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: #7f67ff;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: #7f67ff;
  font-size: 2rem;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: #7f67ff;
}
.ant-carousel .slick-next {
  right: -15px;
}
