#designTabs {
  .ant-tabs-nav-wrap {
    width: 100%;

    .ant-tabs-nav-list {
      width: 100%;
      transition: none !important;

      .ant-tabs-tab {
        padding: 20px 0;
        flex: 1;
        margin-right: 12px;
        min-width: 100px;
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .ant-tabs-tab:last-of-type {
        margin-right: 0;
      }

      .ant-tabs-tab.ant-tabs-tab-active {
        //border-bottom: 3px solid $bg-primary;
        color: #7f67ff;
      }

      .ant-tabs-tab:focus {
        //border-bottom: 4px solid $bg-primary;
      }

      .ant-tabs-tab:active {
        //border-bottom: 4px solid $bg-primary;
      }
    }

    .ant-tabs-nav-list:hover,
    .ant-tabs-nav-list:active,
    .ant-tabs-nav-list:focus {
      transition: none !important;
    }
  }
}
