.trigger {
    font-size: 20px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #7F67FF;
    border-bottom-left-radius: 80%;
    border-top-right-radius: 6px;

    span{
        svg{
            margin-bottom: 8px;
        }
    }
}

.trigger:hover {
    color: #ffffff;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.3);
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;
}

div::-webkit-scrollbar
{
    height:7px;
    width:7px;
    background-color: #e3e1ec;

}
div::-webkit-scrollbar-track
{
    border-radius: 3px;
    scrollbar-width: thin;

    webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
div::-webkit-scrollbar-thumb
{
    background-color: #7F67FF;
    border-radius: 3px;
    scrollbar-width: thin;
}
