@import '~antd/dist/antd.less';
//.layout{
//  height: "100vh";
//  overflow: "auto";
//}


html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #7f67ff;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  scrollbar-width: thin;
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  scrollbar-width: thin;
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
